{% extends "base.html" %}

{% block content %}
<div class="container" style="background: linear-gradient(to right, 	#7b88b8, 	#d8a5a0	); font-size: 18px;">
      <div class="col-md-6 col-md-offset-3" style="text-align:center">
          <div class="rata-tengah">
              <div class="judul">
                  <h1 > LOGIN </h1>
                  <p class="text-info"> Gunakan <b> akun SSO </p>
              </div><br>
              <form action="{% url 'page_login:auth_login' %}" method="POST">
                  {% csrf_token %}
                  <p>
                      <label for="username"> Your username </label>
                      <input type="text" id="username" name="username" required>
                  </p>
                  <p>
                      <label for="password"> Your password </label>
                      <input type="password" id="password" name="password" required>
                  </p>
                  <input type="submit" class="btn btn-primary">
              </form>
          </div>
      </div>
</div><br>
{% endblock %}
