{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_riwayat.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#hide").click(function(){
        $(".nilai").text("Dirahasiakan");
    });
    $("#show").click(function(){
         $(".table").html('<table class="table">\
            <thead>\
                <th> No </th>\
                <th> Nama Mata Kuliah </th>\
                <th> Kode Kelas </th>\
                <th> Term </th>\
                <th> Nilai </th>\
                </thead>\
            <tbody>\
            {% for matkul in matkuls %}\
            <tr>\
                <td> {{ forloop.counter }}</td>\
                <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>\
                <td> {{ matkul.kelas.kd_kls }}</td>\
                <td> {{ matkul.term }}</td>\
                <td class="nilai"> {{ matkul.nilai }}</td>\
            </tr>\
            {% endfor %}\
            </tbody>\
        </table>');
    });
});
</script>
<div class="panel panel-primary" style="background:#c3a6a6;">
    <div class="panel-heading">
        <h2 style="text-align:center">Riwayat</h2>
        <button class="btn btn-info" id="hide" >Hide Score</button>
        <button class="btn btn-info" id="show">Show Score</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <th style="text-align:center"> No </th>
            <th style="text-align:center"> Nama Mata Kuliah </th>
            <th style="text-align:center"> Kode Kelas </th>
            <th style="text-align:center"> Term </th>
            <th style="text-align:center"> Nilai </th>
            </thead>
            <tbody>
            {% for matkul in matkuls %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td> {{ matkul.kelas.nm_mk_cl.nm_mk }}</td>
                <td> {{ matkul.kelas.kd_kls }}</td>
                <td> {{ matkul.term }}</td>
                <td class="nilai"> {{ matkul.nilai }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
