{% extends "base.html" %}

<!-- Content Here -->
{% block header %}
<div class="navbar navbar-default" role="navigation" style="background: #d8a5a0;">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{author}}</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="text-center"><strong>{{author}}</strong></h4>
                                        <h4 class="text-center small">NPM: {{kode_identitas}}</h4>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{% url 'page_login:auth_logout' %}" class="btn btn-danger btn-block" onclick="return confirm('Keluar?')">
                                                Logout </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock%}

{% block content %}
<div class="pojok-kanan">
</div>
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> Profile </h2>
    </div>
    <div class="panel-body" style="font-weight:bold; font-size: 18px; background: linear-gradient(to right, 	#7b88b8, 	#d8a5a0	);">
        <p> Username : {{ author }} </p>
        <p> NPM : {{kode_identitas}} </p>
        <p> Role : {{ role }} </p>
        <p> Jumlah Status: {{jstat}} </p>
        <p> Last Status: {{lastStatus}} </p>
    </div>
    <div class="panel-footer">
       <a href="{% url 'page_profile:edit_profile' %}" class="btn btn-info" > Edit Profile </a>
       <a href="{% url 'page_login:auth_logout' %}" class="btn btn-danger" onclick="return confirm('Keluar?')">Logout </a>
   </div>

</div>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active">
            <a href="#profile" aria-controls="home" role="tab" data-toggle="tab"> Profile </a>
        </li>
        <li role="presentation">
            <a href="#riwayat" aria-controls="settings" role="tab" data-toggle="tab"> Riwayat </a>
        </li>
        <li role="presentation">
            <a href="#status" aria-controls="settings" role="tab" data-toggle="tab"> Status </a>
        </li>
        <li role="presentation">
            <a href="#teman" aria-controls="settings" role="tab" data-toggle="tab"> Teman </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="profile">
            {% include 'page_profile/page_profile.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="riwayat">
            {% include 'page_riwayat/riwayat.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="teman">
            {% include 'page_carimahasiswa/page_carimahasiswa.html' %}
        </div>
        <div role="tabpanel" class="tab-pane fade" id="status">
            {% include 'page_status/status.html' %}
        </div>
    </div>
</div>
{% endblock %}
