{% load staticfiles %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_status.css' %}" />
<h2 class="main-title" style="font-weight:bold; font-size: 50px; text-align:center"> Status </h2>
<hr/>

<div name="update-list" id="update-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'page_status:add_status' %}">
            {% csrf_token %}
            {{ update_form }}
            <input  id="submit" type="submit" class="btn btn-secondary float-right" value="POST">
            <br>
        </form>
    </div>
</div>

<div name="update-status" id="update-status">
    {% for data in status %}
      <div class = "status">
            <div class="row">
              <div class="col-sm-12 col-sm-offset-0">
                <div class="media" style="padding: 15px">
                  <div class="media-body">
                    <strong>{{user_name}}</strong>
                    <p>{{data.activity}}</p>
                    <i>Posted on {{data.created_at}}</i>
                  </div>
                </div>
              </div>
            </div>
          </div>
    {% endfor %}
</div>
<hr/>
