
{% load staticfiles %}
{% load static %}
{% block content %}



<link rel="stylesheet" type="text/css" href="{% static 'css/page_carimahasiswa.css' %}" />
<div class="panel panel-danger">
        <div class="panel-heading">
            <h2 style="text-align:center"> Cari Mahasiswa </h2>
        </div>
        <div class="panel-body">
          <center>
          <table class="table" style="width:60%">
            <tbody>
            <div id="radio-button">
              
              <tr>
                <td> SEARCH BY : </td>
                <td><input type="radio" name="filter" id="npm-rb" value="npm" checked> NPM<br></td>
                <td><input type="radio" name="filter" id="keahlian-rb" value="keahlian"> Keahlian<br></td>
                <td><span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  <input type="text" style="width:50%"id="myInput" onkeyup="myFunction()" placeholder="Search..."></td>
                  
              </tr>
              <tr>
                <td> </td>
                <td><input type="radio" name="filter" id="nama-rb" value="nama"> Nama<br></td>
                <td><input type="radio" name="filter" id="level-rb" value="level"> Level<br></td>
                <td> </td>
              </tr>
              <tr>
                <td></td>
                <td><input type="radio" name="filter" id="angkatan-rb" value="angkatan"> Angkatan<br></td>
                <td></td>
                <td></td>
              </tr>
            </div>
            </tbody>
          </table>
          <hr>
          </center>
            <br>
            <center>
              <table class="table table-danger table-striped table-bordered" id="mahasiswa-table" style="width:60%">
                <thead class="bg-danger" style="color:white">
                <th> NPM</th>
                <th> Nama</th>
                <th> Angkatan</th>
                <th> Keahlian</th>
                
    
                </thead>
                <tbody>
                <!-- {% for exp in expertises %}
                <tr>
                    <td> {{ exp.user.kode_identitas }}</td>
                    <td> {{ exp.user.firstName }} + {{ exp.user.lastName }}</td>
                    <td> {{ exp.user.angkatan }}</td>
                    <td class="keahlian" style="list-style-type:none">
                        {% if exp.keahlian1 == 'beginner' %}
                        <li class="level legend"> {{ exp.keahilan1 }} </li>
                        {% elif exp.keahlian1 == 'beginner' %}
                        <li class="level expert">Python</li>
                        {% elif exp.keahlian1 == 'beginner' %}

                        {% elif exp.keahlian1 == 'beginner' %}
                        
                        {% elif exp.keahlian1 == 'beginner' %}
                        {%endif%}
                    </td>
                    
                </tr>
              {% endfor %} -->
              {% for user in users %}
                <tr>
                    <td> {{ user.kode_identitas }}</td>
                    <td> {{ user.firstName }}  {{ user.lastName }}</td>
                    <td> {{ user.angkatan }}</td>
                    <!-- <td class="keahlian" style="list-style-type:none">
                        {% if exp.keahlian1 == 'beginner' %}
                        <li class="level legend"> {{ exp.keahilan1 }} </li>
                        {% elif exp.keahlian1 == 'beginner' %}
                        <li class="level expert">Python</li>
                        {% elif exp.keahlian1 == 'beginner' %}

                        {% elif exp.keahlian1 == 'beginner' %}
                        
                        {% elif exp.keahlian1 == 'beginner' %}
                        {%endif%}
                    </td> -->
                    <td> </td>
                    
                </tr>
              {% endfor %}
                <!-- TEST FILTER 
                    <tr>
                    <td> 166666 </td>
                    <td> Halo </td>
                    <td> 2014 </td>
                    <td class="keahlian" style="list-style-type:none">
                        <li class="level legend">Java</li>
                        <li class="level expert">Python</li>
                    </td>
                    <td style="font-size: 18px"> 
                        <span class="btn btn-default glyphicon glyphicon-user" onClick="addFriend('166666','Halo', '2014')">
                        Add Friend
                    </td>
                </tr>
                <tr>
                    <td> 1628 </td>
                    <td> Nurul </td>
                    <td> 2014 </td>
                    <td class="keahlian" style="list-style-type:none">
                        <li class="level advanced">Erlang</li>
                        <li class="level expert">C#</li>
                    </td>
                </tr>
                <tr>
                    <td> 123456 </td>
                    <td> Faza </td>
                    <td> 2015 </td>
                    <td class="keahlian" style="list-style-type:none">
                        <li class="level legend">Kotlin</li>
                        <li class="level expert">Erlang</li>
                    </td>
                </tr>
                <tr>
                    <td> 178 </td>
                    <td> Hai </td>
                    <td> 2016 </td>
                    <td class="keahlian" style="list-style-type:none">
                        <li class="level intermediate">Java</li>
                        <li class="level beginner">Kotlin</li>
                    </td>
                </tr> -->
                </tbody>
            </table>
          </center>
        </div>
    </div>
    
    <script>
        function myFunction() {
            if (document.getElementById('npm-rb').checked) {
                  filterByNPM()
              }
            else if(document.getElementById('nama-rb').checked){
                filterByNama()
            }
            else if(document.getElementById('angkatan-rb').checked){
                filterByAngkatan()
            }
            else if(document.getElementById('keahlian-rb').checked){
                filterByKeahlian()
            }
            else if(document.getElementById('level-rb').checked){
                filterByLevel()
            }
        }    
          
        function filterByNPM() {
            var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("mahasiswa-table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        
        function filterByNama() {
            var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("mahasiswa-table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        
        function filterByAngkatan() {
            var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("mahasiswa-table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }

        function filterByKeahlian() {
            var input, filter, table, tr, td, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("mahasiswa-table");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        
        function filterByLevel(){
          var input, filter, table, keahlian, tr, td, i, li_1, li_2;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("mahasiswa-table");
          tr = table.getElementsByTagName("tr");
          
          for (i = 0; i < tr.length; i++) {
            li_1 = tr[i].getElementsByClassName("level")[0];
            li_2 = tr[i].getElementsByClassName("level")[1];
            console.log(li_1);
            if (li_1 && li_2) {
              if (li_1.className.toUpperCase().indexOf(filter) > -1 || li_2.className.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
        
        </script>

{% endblock %}