
.table{
  background: #c3a6a6;
  border-radius: 25px;
  width: 100%;
}

.panel panel-primary{
    width: 100%;
}

th,td{
  color: #0c3c60;
  text-align: center;
}

.panel panel-info{
  background: #79a9b0;
}
  

