
form{
	width: 425px;
}

.status{
  background-color: #E7ABA0;
  border: 3px solid black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


#form{
	text-align: center;
  font: 20px Arial, Helvetica, sans-serif;
}

#submit {
  background-color: #FF5333;
  float: right;
  margin-right: -90%;
}

#update-status{
	padding:25px;
	margin-bottom: :15px;
	color:black;
	background-color:#21618C;
}
