<div class="panel panel-info" style="background: linear-gradient(to left, #ffe6e9, #0dad88);">
    <div class="panel-heading" style="background: linear-gradient(to right, 	#7b88b8, 	#d8a5a0	); font">
        <h2 style="text-align:center; font-weight:bold;"> User Profile </h2>
    </div>
    <div class="panel-body">
      <pre style="background: linear-gradient(to left, #ffe6e9, #0dad88); font-size: 15px;">
        {% if user.firstName %}
            <strong> Nama : {{user.firstName}} {{user.lastName}} </strong>
            <strong> NPM  : {{kode_identitas}} </strong>
            <strong> Keahlian : Kosong </strong>
            <strong> Email : {{user.email}} </strong>
            <strong> Profile LinkedIn : <a href="{{user.profileUrl}}"> {{user.profileUrl}} </a></strong>
        {% else %}
            <strong> Nama                  </strong>
            <strong> NPM                   {{kode_identitas}} </strong>
            <strong> Keahlian              </strong>
            <strong> Email                 </strong>
            <strong> Profile Linkedin      </strong>
         {% endif %}
      </pre>
    </div>
</div>
