body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	background-color:#21618C;
}

h2{
	font: 35px Arial, Helvetica, sans-serif;
	color:#F7DC6F;
	margin-top:30px;
  text-align: center;
}

form{
	width: 700px;
	margin: 50px auto;
	text-align: center;
	position: relative;
	background: #E7ABA0;
	border-radius: 20px;
	border: 3px solid black;
	box-shadow: 0 0 100px 5px rgba(0, 0, 0, 0.4);
	padding: 40px 20px;
	box-sizing: border-box;
}

p{
	font:15px Arial, Helvetica, sans-serif;
	color:green;
	padding: 0px;
}

@media only screen and (max-width: 768px) {
  .status {
      width: 290px;
  }
}


.main-title{
	-webkit-animation: colorchange 1s infinite;
	-webkit-animation-direction: alternate;
	text-align: center;
}

.status{
  background-color: #E7ABA0;
  border: 3px solid black;
	border-radius: 30px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.status .delete{
	background-color: #289AFD;
	border: 2px solid black;
	border-radius: 10px;
  float:right;
	margin-top: -25px;
	font-size: 18px;
}

@-webkit-keyframes colorchange {
    0% {
        -webkit-text-stroke: 5px #21618C;
    letter-spacing: 0;
    }
  50% {
    -webkit-text-stroke: 7.5px black;
  }
    100% {
        -webkit-text-stroke: 10px #C0BDBD;
    letter-spacing: 18px;
    }
}


#form{
	text-align: center;
  font: 20px Arial, Helvetica, sans-serif;
}

#submit {
  background-color: #FF5333;
  float:right;
}

#update-status{
	padding:25px;
	margin-bottom: 15px;
	color:black;
	background-color:#21618C;y
}

#update-list{
	border-radius: 10px;
}

a{
	color:black;
}
