body{
  background: #075482;
}

.textcolor{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ccccff;
}

.textcolor2{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ff3300;
}

.textcolor3{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ffffcc;
}

.textcolor4{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ccccb3;
}

.textcolor5{
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ccffe6;
}
.img-circle{
  border-radius: 50%;
  }