body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	background-color:#21618C;
}

h2{
	font: 35px Arial, Helvetica, sans-serif;
	color:#F7DC6F;
	margin-top:30px;
  text-align: center;
}

form{
	width: 425px;
}

p{
	font:15px Arial, Helvetica, sans-serif;
	color:green;
	padding: 0px;
}

.status{
  background-color: #E7ABA0;
  border: 3px solid black;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


#form{
	text-align: center;
  font: 20px Arial, Helvetica, sans-serif;
}

#submit {
  background-color: #FF5333;
  float: right;
  margin-right: -90%;
}

#update-status{
	padding:25px;
	margin-bottom: :15px;
	color:black;
	background-color:#21618C;
}
