.beginner{
    color: darkblue;
}
.intermediate{
    color: lightcoral;
}
.advanced{
    color: darkred;
}
.expert{
    color:darkcyan;
}
.legend{
    color: purple;
}

table{
    font-size: 18px;
}
#tablehead{
    background-color:maroon;
    color:white;
}