body{
  padding: 0px;
  background: #075482;
}

ul{
  list-style-type: none;
}

section{
  min-height: 600px;
}



img{
  position: absolute;
  top: 68px;
  left: 50%;
  transform: translateX(-50%);
  width:100px;
  border-radius: 50%;
  border: 4px solid #156C9F;
  box-shadow: 0 3px 6px rgba(#6D7483,.5);
 }

table,th,td{
  color: white;
  margin-top: 50px;
  width: 90%;
  font-size: 15px;
}

h2{
  text-align: center;
  color: white;
  background-color: black;
}

h5{
  text-align: center;
  color: white;
  background-color: #6D7483;
}

h6,h4{
  text-align: center;
  color: white;
}



.card{
  display: inline-block;
  background: #156C9F;
  width: 380px;
  height: 420px;
  border-radius: 4px; 
  position: relative;
  left: 50%;
  margin-left: -180px;


}
.card .top-section{
    background: #6D7483;
    height: 100px;
    border-radius: 4px 4px 0 0; 
  }

.card .bottom-section{
    margin-top: 80px;
    text-align: justify;
    border-radius: 20px 50px 50px 15px; 
}

.col-xs-2{
  text-align: center;

}

